header {

  background-color: #333333;
  position: fixed;
  height: 75px;
  width: 100vw;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 20px;
  color: #5cb262;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.name {
  font-size: 24px;
  margin-left: 10px;
}

.linkstyle {
  text-decoration: none;
  color: #1874cd;
}


.linkstyle:hover {
  color: #3b5998;
}

#title {
  font-size: 15px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: 	#003366;

}

.headers {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  margin-top: 5%;
  text-align: center;
  font-size: 27px;
}

.homePhotoDiv {
  background: url('../images/photo.png') no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-left: -8px;
  margin-bottom: -20px;
  opacity: .9;
  position: fixed;
  margin-top: -8px;
}

.nameTitleDiv {
  position: absolute;

}

.backgroundPhoto {
  position: absolute;
  width: 100vw;
  background-size: cover;
  margin-left: -8px;
  opacity: .8;
}

.nameBlock  {
  position: fixed;
  left: 0;
   width: 100%;
   color: white;
   bottom: 130px;
}

.titleBlock {
  position: fixed;
  bottom: 90px;
  left: 0;
  width: 100%;
  color: white;

}

.nameBlock span{
   font: bold;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, 0.7);
   padding: 8px;
   font-size: 30px;
   border-radius: 5px;

}


.titleBlock span {
   letter-spacing: 1px;
   background: rgba(0, 0, 0, .7);
   padding: 10px;
   font-size: 18px;
   border-radius: 5px;
}

.button {
  background: black;
  border: 2px solid none;
  border-radius: 4px;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  text-decoration: none;
  min-width: 120px;
  font-weight: 400px;
  display: inline-block;
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
  position: fixed;
  text-align: center;
  color: white;
  bottom: 38px;

}

.button:hover, .button:active {
  color: white;
  font-weight: bold;
  border: 1px solid #858585;
  background-color:rgba(51,51,51, 0.4);
}


nav {
  font-family: 'Raleway', sans-serif;
  margin-top: 14px;

}

nav a{
  margin-right: 40px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 5px;
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  color: white;

}


nav a:hover {
  color: #c3c3c3;
}

.pictureLink {
  height: 260px;
  width:  340px;
  margin-left: 40px;
  border: 1.5px solid gray;
  display: flex;
  border-radius: 10px;

}


.pictureLink:hover {
    transform: scale(1.1);
    opacity: .8;
}

.pictureLink {
  transition: all .9s;
}


.workContent {
  margin-left: 100px;
  margin-top: -130px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
 }

.workText {
  color: #333333;
  height: 400px;
  width: 300px;
  flex: 0 0 50%;
}

.workPhoto {
  height: 400px;
  width: 50px;
  flex: 0 0 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-left: 0px;
}

#styleIt {
  background-image: url("/images/styleit.png");
  background-position: center;
  background-size: cover;

}


#tennisMatcher {
  background-image: url("/images/tennis.png");
  background-position: center;
  background-size: cover;

}


#plusOne {
  background-image: url("/images/plusone.png");
  background-position: center;
  background-size: cover;

}

#hangman {
  background-image: url("/images/hangman.png");
  background-position: center;
  background-size: cover;

}

.container {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.box {
  background: #5478e4;
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  width: 15%;
  font-weight: bold;
}

.box:hover {
    transform: scale(1.4);
}

.box {
  transition: all 1.3s;
}

.skillsHeaders {
  margin-left: 40px;
}

.headShot {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  box-shadow: 2px 3px 1px #dbd9d9;

}

.headShotDiv {
  display: none;
}

.aboutDiv {
  height: 300px;
  width: 550px;
  align-items: center;
  display: none;
}


.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: justify;

}

.contactLogos {
  height: 35px;
  border-radius: 50%;
}

.contactLogos:hover {
  opacity: .6;
}


.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactInfo {
  height: 260px;
  width: 450px;
  color: #333333;

}

.contactName{
  line-height: 0;
  margin-bottom: 10px;
  margin-top: 40px;
}

.resume {
  color: #1874cd;
  text-decoration: none;
}

.resume:hover {
  color: #3b5998;
}


.contactInfo{
  text-align: center;
}

.aboutPage {
  width: 100vw;
  margin-left: -8px;
  color: #333333;

}
