header {
  background-color: white;
  position: fixed;
  height: 80px;
  width: 100vw;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 20px;
  color: #5cb262;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.name {
  font-size: 24px;
  margin-left: 10px;
}

.linkstyle {
  text-decoration: none;
}
#title {
  font-size: 15x;
}

body {
    font-family: 'Quicksand', sans-serif;

}

.headers {
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin-top: 5%;
  text-align: center;
  font-size: 27px;
}

/*
.nameAndTitle {
  /*z-index: 1;
  color: #3b5998;*/

  /*font-size: 50px;
  text-align: center;
  margin-top: 100px;*/



/*.title {
  z-index: 1;
  color: #3b5998;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;

}*/

/*comment back in if doesnt work:
/*.backgroundPhoto {
  background-size: cover;
  width: 100vw;
  margin-left: -8px;
  position: fixed;
  opacity: .9;

}*/

.backgroundPhoto {
  position: fixed;
  width: 100vw;
  background-size: cover;
  margin-left: -8px;
  opacity: .9;
}

.nameBlock  {
  position: fixed;
  left: 0;
   width: 100%;
   color: white;
   bottom: 60px;


 }
.titleBlock {
position: fixed;
bottom: 22px;
left: 0;
width: 100%;
color: white;

}



.nameBlock span{
   font: bold;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, 0.7);
   padding: 8px;
   font-size: 30px;
}


.titleBlock span {
   letter-spacing: 1px;
   background: rgba(0, 0, 0, .7);
   padding: 10px;
   font-size: 18px;
}

nav {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  font-family: 'Quicksand', sans-serif;
  margin-top: 14px;

}

nav a{
  margin-right: 40px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 5px;
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  color: #43ad4a;
}

.pictureLink {
  height: 260px;
  width:  340px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}

.workContent {
  margin-left: 100px;
  margin-top: 20px;

}

#tennisMatcher {
  background-image: url("/images/tennis.png");
  background-position: center;
  background-size: cover;

}

#plusOne {
  background-image: url("/images/plusone.png");
  background-position: center;
  background-size: cover;

}

#hangman {
  background-image: url("/images/hangman.png");
  background-position: center;
  background-size: cover;

}

.resume, .linkedin, .github {
  text-decoration: none;
}

.contactInfo{
  text-align: center;
}

.container {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  background: steelblue;
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  width: 90px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.box:hover {
    transform: scale(1.4);
}
.box {
  transition: all 1.3s;
}

.aboutPagePhoto {
  height: 150px;
  width: 120px;
  border-radius: 50%;
}
