header {
  background-color: white;
  position: fixed;
  height: 80px;
  width: 100vw;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 20px;
  color: #5cb262;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
   border-bottom: 1px solid #d8d8d8;
   box-shadow: 0 0 8px 0 #ccc;

}

.name {
  font-size: 24px;
  margin-left: 10px;
}

.linkstyle {
  text-decoration: none;
  color: #1874cd;
}



.linkstyle:hover {
  color: #3b5998;
}
#title {
  font-size: 15x;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: 	#003366;

}

.headers {
  font-family: 'Quicksand', sans-serif;
  color: #003366;
  margin-top: 5%;
  text-align: center;
  font-size: 27px;
}

/*
.nameAndTitle {
  /*z-index: 1;
  color: #3b5998;*/

  /*font-size: 50px;
  text-align: center;
  margin-top: 100px;*/



/*ALREADY COMMENTED OUT
.title {
  z-index: 1;
  color: #3b5998;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}*/

/*comment back in if doesnt work:
/*.backgroundPhoto {
  background-size: cover;
  width: 100vw;
  margin-left: -8px;
  position: fixed;
  opacity: .9;
}*/

.backgroundPhoto {
  position: fixed;
  width: 100vw;
  background-size: cover;
  margin-left: -8px;
  opacity: .9;
}

.nameBlock  {
  position: fixed;
  left: 0;
   width: 100%;
   color: white;
   bottom: 60px;


 }
.titleBlock {
position: fixed;
bottom: 22px;
left: 0;
width: 100%;
color: white;

}

.nameBlock span{
   font: bold;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, 0.7);
   padding: 8px;
   font-size: 30px;
}


.titleBlock span {
   letter-spacing: 1px;
   background: rgba(0, 0, 0, .7);
   padding: 10px;
   font-size: 18px;
}

nav {

  font-family: 'Quicksand', sans-serif;
  margin-top: 14px;

}

nav a{
  margin-right: 40px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 5px;
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;

  color: #00b159;
}

nav a:hover {
  color: #555555;
   border-radius: 2px;


}

.pictureLink {
  height: 260px;
  width:  340px;
  border: 1px solid gray;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  border-radius: 10px;

}

.workContent {
  margin-left: 100px;
  margin-top: -130px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
 }

.workText {

  height: 400px;
  width: 300px;
   flex: 0 0 50%;

 }

.workPhoto {
  height: 400px;
  width: 350px;
  flex: 0 0 50%;
   overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-left: 100px;
}


#tennisMatcher {
  background-image: url("/images/tennis.png");
  background-position: center;
  background-size: cover;

}

.pictureLink:hover {
  opacity: .7;

}

#plusOne {
  background-image: url("/images/plusone.png");
  background-position: center;
  background-size: cover;

}

#hangman {
  background-image: url("/images/hangman.png");
  background-position: center;
  background-size: cover;

}

.resume, .linkedin, .github {
  text-decoration: none;
}

.contactInfo{
  text-align: center;
}

.container {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.box {
  background: #ffa500;
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  /*width: 90px;*/
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  width: 15%;
  font-weight: bold;
}

.box:hover {
    transform: scale(1.4);
}
.box {
  transition: all 1.3s;
}
.skillsHeaders {
  margin-left: 40px;
}


.headShot {
  height: 150px;
  width: 150px;
  border-radius: 50%;

}

.headShotDiv {

}

.aboutDiv {
  height: 500px;
  width: 500px;
  align-items: center;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: justify;


}

.contactLogos {
  height: 35px;
}





.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactInfo {
  box-shadow: 3px 3px 3px 4px #ccc;
  height: 260px;
  width: 450px;

}

.contactName{
  line-height: 0;
  margin-bottom: 10px;
  margin-top: 40px;
}


.contactLogos:hover {
  opacity: .6;
}
.aboutPage {
width: 100vw;
  margin-left: -8px;
}
